<h1>修改用户</h1>

<%= form_for(@user) do |f| %>
		<div class="row">
			<div class="col-sm-4">
			  <div class="form-group">
			    <%= f.label :email, "邮箱地址：" %><br>
			    <%= f.text_field :email, class: "form-control", placeholder: "yourname@example.com", requred: true, focus: true %>
			  </div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			  <div class="form-group">
			    <%= f.label :ename, "英文名：" %><br>
			    <%= f.text_field :ename, class: "form-control", placeholder: "English name", requre: true %>
			  </div>
			</div>
			<div class="col-sm-4">
			  <div class="form-group">
			    <%= f.label :cname, "英文职称：" %><br>
			    <%= f.text_field :cname, class: "form-control", placeholder: "中文名", requre: true %>
			  </div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			  <div class="form-group">
			    <%= f.label :etitle, "英文职称：" %><br>
			    <%= f.text_field :etitle, class: "form-control", placeholder: "English title", requre: true %>
			  </div>
			</div>
			<div class="col-sm-4">
			  <div class="form-group">
			    <%= f.label :ctitle, "中文职称：" %><br>
			    <%= f.text_field :ctitle, class: "form-control", placeholder: "中文职称", requre: true %>
			  </div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
			  <div class="form-group">
			    <%= f.label :role, "权限：" %><br>
			    <%= f.select :role, User::ROLES, class: "form-control", selected: @user.role, requred: true %>
			  </div>
			</div>
		</div>

		<div class="actions">
			<%= f.submit '确认', class: "btn btn-success" %>&nbsp;&nbsp;<%= link_to '返回', users_path, class: "btn btn-link" %>
		</div>

	<% end %>
