<h1>Check your details</h1>

<div class="user-show">
  <p>
    <strong>Email: </strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>English name: </strong>
    <%= @user.ename %>
  </p>

  <p>
    <strong>Chinese name: </strong>
    <%= @user.cname %>
  </p>

  <p>
    <strong>English title: </strong>
    <%= @user.etitle %>
  </p>

  <p>
    <strong>Chinese title: </strong>
    <%= @user.ctitle %>
  </p>
</div>

<div class="actions">
  <%= link_to ' Edit', edit_user_path(@user), class: "btn btn-warning btn-sm fa fa-pencil" %>
  <%= link_to 'Back', users_path, class: "btn btn-link" %>
</div>