<h1>用户基本资料</h1>

<div class="object-show">
  <p>
    <strong>邮箱地址：</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>英文名：</strong>
    <%= @user.ename %>
  </p>

  <p>
    <strong>中文名：</strong>
    <%= @user.cname %>
  </p>

  <p>
    <strong>英文职称：</strong>
    <%= @user.etitle %>
  </p>

  <p>
    <strong>中文职称</strong>
    <%= @user.ctitle %>
  </p>

  <p>
    <strong>权限：</strong>
    <%= @user.role %>
  </p>
</div>

<div class="actions">
  <%= link_to ' 编辑', edit_user_path(@user), class: "btn btn-warning btn-sm fa fa-pencil" %>
  <%= link_to '返回', users_path, class: "btn btn-link" %>
</div>