<%= form_for(@role) do |f| %>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :desc %><br>
          <%= f.text_field :desc, class: "form-control", placeholder: "Role description", requred: true, focus: true %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Submit', class: "btn btn-success" %>&nbsp;&nbsp;<%= link_to 'Back', :back %>
    </div>

  <% end %>
