<%= form_for(@certificate) do |f| %>

  <div class="item-group">
    <div class="item">
      <%= f.label :report_no, '证书编号：' %>
      <%= f.text_field :report_no, size: 16 %>
    </div>
    
  </div>
  <div class="item-group">
    <div class="item">
      <%= f.label :date_test, '测试/签发日期：' %>
      <%= f.date_select :date_test %>
    </div>
  </div>

  <div class="item-group">
    <div class="item">
      <%= f.radio_button :is_hoklas, '翡翠鉴定报告' %>
      <%= f.label :is_hoklas_a, '翡翠鉴定报告' %>
      <%= f.radio_button :is_hoklas, '翡翠鉴定证书', checked: 'checked' %>
      <%= f.label :is_hoklas_b, '翡翠鉴定证书' %>
    </div>
  </div>

  <div class="item-group">
    <label for="">形状及车工：</label>
    <div class="item">
      <%= f.label :shape, '形状：' %>
      <%= f.select :shape, Certificate::SHAPE %>
      <%= f.select :object, Certificate::OBJECT %>
    </div>
    <div class="item">
      <%= f.label :cut, '车工：' %>
      <%= f.select :cut, Certificate::CUT %>
    </div>
  </div>

  <div class="item-group">
    <div class="item">
      <%= f.label :dimensions1, '尺寸一：' %>
      <%= f.text_field :dimensions1, size: 6, required: true %>
      <%= f.label :dimensions2, '尺寸二：' %>
      <%= f.text_field :dimensions2, size: 6, required: true %>
      <%= f.label :dimensions3, '尺寸三：' %>
      <%= f.text_field :dimensions3, size: 6 %>
    </div>
  </div>

  <div class="item-group">
    <div class="item">
      <%= f.label :weight, '重量：' %>
      <%= f.text_field :weight, size: 8 %>
      <%= f.radio_button :weight_desc, "裸石", checked: 'checked' %>
      <%= f.label :weight_desc_a, '裸石' %>
      <%= f.radio_button :weight_desc, "整件饰物" %>
      <%= f.label :weight_desc_b, '整件饰物' %>
      <%= f.radio_button :weight_desc, "整件饰物" %>
      <%= f.label :weight_desc_c, '整件饰物-连绳' %>
    </div>
  </div>

  <div class="item-group">
    <div class="item">
      <%= f.label :is_measure, '比重值：' %>
      <%= f.select :is_measure, Certificate::MEASURE %>
    </div>
    <div class="item weight">
      <%= f.label :ww1, 'ww1：' %>
      <%= f.text_field :ww1, size: 8 %>
      <%= f.label :ww2, 'ww2：' %>
      <%= f.text_field :ww2, size: 8 %>
      <%= f.label :ww3, 'ww3：' %>
      <%= f.text_field :ww3, size: 8 %>
      <%= f.label :sg, 'SG值：' %>
      <%= f.text_field :sg, size: 8, disabled: "disabled" %>
    </div>
  </div>

  <div class="item-group">
    <div class="item">
      <%= f.label :transparency, '透明度：' %>
      <%= f.select :transparency, Certificate::TRANSPARENCY %>
    </div>
    <div class="item">
      <%= f.label :polariscope, '偏光仪：' %>
      <%= f.select :polariscope, Certificate::POLARISCOPE %>
    </div>
    <div class="item">
      <%= f.label :refractive_index, '折射率：' %>
      <%= f.text_field :refractive_index, size: 6 %>
    </div>
  </div>
  
  <div class="item-group">
    <label for="">颜色深浅度：</label>
    <div class="item">
      <%= f.label :deep1, '深浅度一：' %>
      <%= f.select :deep1, Certificate::DEEP1 %>
      <%= f.label :color1, '颜色一：' %>
      <%= f.select :color1, Certificate::COLOR1 %>
      <%= f.label :deep2, '深浅度二：' %>
      <%= f.select :deep2, Certificate::DEEP2 %>
      <%= f.label :color2, '颜色二：' %>
      <%= f.select :color2, Certificate::COLOR2 %>
      <%= f.label :deep3, '深浅度三：' %>
      <%= f.select :deep3, Certificate::DEEP3 %>
      <%= f.label :color3, '颜色三：' %>
      <%= f.select :color3, Certificate::COLOR3 %>
    </div>
    <div class="item">
      <%= f.label :distribution, '分布：' %>
      <%= f.select :distribution, Certificate::DISTRIBUTION %>
    </div>
  </div>

  <div class="item-group">
    <label for="">荧光效应：</label>
    <div class="item">
      <%= f.label :uv_lw, '荧光线长波：' %>
      <%= f.radio_button :uv_lw, "无", checked: 'checked' %>
      <%= f.label :uv_lw_a, '无' %>
      <%= f.radio_button :uv_lw, "弱" %>
      <%= f.label :uv_lw_b, '弱' %>
      <%= f.radio_button :uv_lw, "中" %>
      <%= f.label :uv_lw_c, '中' %>
      <%= f.radio_button :uv_lw, "强" %>
      <%= f.label :uv_lw_d, '强' %>
    </div>
    <div class="item">
      <%= f.label :uv_sw, '荧光线短波：' %>
      <%= f.radio_button :uv_sw, "无", checked: 'checked' %>
      <%= f.label :uv_sw_a, '无' %>
      <%= f.radio_button :uv_sw, "弱" %>
      <%= f.label :uv_sw_b, '弱' %>
      <%= f.radio_button :uv_sw, "中" %>
      <%= f.label :uv_sw_c, '中' %>
      <%= f.radio_button :uv_sw, "强" %>
      <%= f.label :uv_sw_d, '强' %>
    </div>
  </div>
  
  <div class="item-group">
    <%= f.label :chelsea_color_filter, '滤色镜：' %>
    <%= f.radio_button :chelsea_color_filter, "绿色" %>
    <%= f.label :chelsea_color_filter_a, '绿色' %>
    <%= f.radio_button :chelsea_color_filter, "红色" %>
    <%= f.label :chelsea_color_filter_b, '红色' %>
    <%= f.radio_button :chelsea_color_filter, "颜色不变" %>
    <%= f.label :chelsea_color_filter_c, '颜色不变' %>
  </div>
  <div class="item-group">
    <%= f.label :visible_spectrum, '可见光谱：' %>
    <%= f.radio_button :visible_spectrum, "硬玉光谱", checked: 'checked' %>
    <%= f.label :visible_spectrum_a, '硬玉光谱' %>
    <%= f.radio_button :visible_spectrum, "染色光谱" %>
    <%= f.label :visible_spectrum_b, '染色光谱' %>
  </div>
  <div class="item-group">
    <label for="">放大观察（表面特征）：</label>
      <%= f.select :magnification, Certificate::MAGNIFICATION %>
      <%= f.select :surface_feature, Certificate::SURFACE_FEATURE %>
  </div>

  <div class="item-group">
    <div class="item">
      <%= f.label :level, '翡翠级别：' %>
      <%= f.radio_button :level, "A", checked: 'checked' %>
      <%= f.label :level_a, 'A' %>
      <%= f.radio_button :level, "B" %>
      <%= f.label :level_b, 'B' %>
      <%= f.radio_button :level, "C" %>
      <%= f.label :level_c, 'C' %>
      <%= f.radio_button :level, "BC" %>
      <%= f.label :level_bc, 'B+C' %>
    </div>
  </div>

  <div class="item-group">
    <div class="item">
      <%= f.label :infrared_spectrum, '红外线光谱：' %>
      <%= f.select :infrared_spectrum, Certificate::INFRARED_SPECTRUM %>
    </div>
  </div>

  <div class="item-group">
    <div class="item">
      <%= f.label :conclusion, '结论：' %>
      <%= f.radio_button :conclusion, "天然颜色翡翠" %>
      <%= f.label :conclusion_a, '天然颜色翡翠' %>
      <%= f.radio_button :conclusion, "处理翡翠树脂充填" %>
      <%= f.label :conclusion_b, '处理翡翠树脂充填' %>
      <%= f.radio_button :conclusion, "处理翡翠颜料染色" %>
      <%= f.label :conclusion_c, '处理翡翠颜料染色' %>
    </div>
  </div>

  <div class="item-group">
    <%= f.label :img_url, '选择图片：', class: "item" %>
    <%= f.file_field :img_url, accept: 'image/png,image/gif,image/jpeg,image/jpg', class: "item" %>
  </div>
  <div class="item-group">
    <%= f.label :comments, '评论：' %>
    <%= f.text_area :comments, rows: 5, cols: 40 %>
  </div>
  <div class="item-group">
    <%= f.label :user_id, '鉴证师：' %>
    <%= f.collection_select :user_id, User.all, :id, :ename, prompt: "请选择用户", selected: @certificate.user_id || session[:user_id] %>
  </div>
  <div class="actions">
    <%= f.submit '确认', class: "btn btn-success" %>&nbsp;&nbsp;<%= link_to '返回', certificates_path %>
  </div>
<% end %>

<script type="text/javascript">

  $(function() {

    // 折射率默认为1.66
    $refractive_index = $('#certificate_refractive_index');
    if ($refractive_index.val() == "") {
      $refractive_index.val(1.66);
    };

    // SG值默认为(WW1+WW2+WW3)/3，再四舍五入，保留2位小数
    $("input[id^=certificate_ww]").change(function(event) {
      val_sg = Math.round((($("#certificate_ww1").val() * 1 + $("#certificate_ww2").val() * 1 + $("#certificate_ww3").val() * 1)/3)*100)/100;
      $("#certificate_sg").val(val_sg);
    });

    if ($("#certificate_is_measure").val() == '未能测量') {
      $(".weight").hide();
    }

    // 当裸石时，比重值自动选择“测量”
    $("#certificate_weight_desc_a").change(function(event) {
      $("#certificate_is_measure").val('测量');
      $(".weight").show();
     });

    // 当比重值为“未能测量”时，WW1、WW2和WW3不能输入
    $("#certificate_is_measure").change(function(event) {
      if ($("#certificate_is_measure").val() == "未能测量") {
        $("#certificate_ww1").val('');
        $("#certificate_ww2").val('');
        $("#certificate_ww3").val('');
        $("#certificate_sg").val('');
        $(".weight").hide();
      } else if ($("#certificate_is_measure").val() == "测量") {
        $(".weight").show();
      }
    });

    // 如果翡翠级别为A或C，红外线光谱自动选择“不含树脂物质”，否则自动选择“含树脂物质”
    $("input[id^=certificate_level_]").change(function(event) {
      if ($(this).attr('id') == 'certificate_level_a' || $(this).attr('id') == 'certificate_level_c') {
        $("#certificate_infrared_spectrum").val("不含树脂物质");
      } else {
        $("#certificate_infrared_spectrum").val("含树脂物质");
      }
    });

    //如果“透明度”或“比重值”或“偏光仪”其中一项选择了“未能测量”，program自动选择为"report"，否则选择"certificate"
    $("#certificate_is_measure").change(function(event) {
      if ($("#certificate_is_measure").val() != "未能测量" && $("#certificate_transparency").val() != "未能测量" && $("#certificate_polariscope").val() != "未能测量") {
        $("#certificate_is_hoklas_b").prop('checked', 'checked');
      } else {
        $("#certificate_is_hoklas_a").prop('checked', 'checked');
      }
    });
    $("#certificate_transparency").change(function(event) {
      if ($("#certificate_is_measure").val() != "未能测量" && $("#certificate_transparency").val() != "未能测量" && $("#certificate_polariscope").val() != "未能测量") {
        $("#certificate_is_hoklas_b").prop('checked', 'checked');
      } else {
        $("#certificate_is_hoklas_a").prop('checked', 'checked');
      }
    });
    $("#certificate_polariscope").change(function(event) {
      if ($("#certificate_is_measure").val() != "未能测量" && $("#certificate_transparency").val() != "未能测量" && $("#certificate_polariscope").val() != "未能测量") {
        $("#certificate_is_hoklas_b").prop('checked', 'checked');
      } else {
        $("#certificate_is_hoklas_a").prop('checked', 'checked');
      }
    });

    $("#certificate_is_hoklas_a").change(function(event) {
      if ($("#certificate_is_measure").val() != "未能测量" && $("#certificate_transparency").val() != "未能测量" && $("#certificate_polariscope").val() != "未能测量") {
        alert("“透明度”或“比重值”或“偏光仪”其中一项必须选择为“未能测量”");
        $("#certificate_is_hoklas_b").prop('checked', 'checked');
      }
    });
    $("#certificate_is_hoklas_b").change(function(event) {
      if ($("#certificate_is_measure").val() == "未能测量" || $("#certificate_transparency").val() == "未能测量" || $("#certificate_polariscope").val() == "未能测量") {
        alert("“透明度”或“比重值”或“偏光仪”其中一项已选择为“未能测量”，不能选择为“翡翠鉴定证书”");
        $("#certificate_is_hoklas_a").prop('checked', 'checked');
      }
    });


  });

</script>
