<h1>鉴证书列表</h1>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>编号</th>
        <th>测试日期</th>
        <th>签发日期</th>
        <th>鉴定师</th>
        <th>动作</th>
      </tr>
    </thead>

    <tbody>
      <% @certificates.each do |certificate| %>
        <tr>
          <td><%= certificate.report_no %></td>
          <td><%= certificate.date_test %></td>
          <td><%= certificate.date_issue %></td>
          <td><%= certificate.user.ename %></td>
          <td>
            <%= link_to ' 查看', certificate, class: "btn btn-info btn-xs fa fa-eye" %>
            <%= link_to ' 下载', mkpdf_path(certificate), class: "btn btn-primary btn-xs fa fa-download" %>
            <%= link_to ' 编辑', edit_certificate_path(certificate), class: "btn btn-warning btn-xs fa fa-pencil" %>
            <%= link_to ' 删除', certificate, method: :delete, data: { confirm: "您真的想删除 #{certificate.report_no} 吗？" }, class: "btn btn-danger btn-xs fa fa-trash-o" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to ' 新建证书', new_certificate_path, class: "btn btn-success btn-sm fa fa-file" %>
