<h1>Check the report details</h1>

<div class="object-show">
  <p>
    <strong>Report no:</strong>
    <%= @certificate.report_no %>
  </p>

  <p>
    <strong>Is hoklas:</strong>
    <%= @certificate.is_hoklas %>
  </p>

  <p>
    <strong>Date test:</strong>
    <%= @certificate.date_test %>
  </p>

  <p>
    <strong>Date issue:</strong>
    <%= @certificate.date_issue %>
  </p>

  <p>
    <strong>Shape:</strong>
    <%= @certificate.shape %>
  </p>

  <p>
    <strong>Object:</strong>
    <%= @certificate.object %>
  </p>

  <p>
    <strong>Cut:</strong>
    <%= @certificate.cut %>
  </p>

  <p>
    <strong>Dimensions1:</strong>
    <%= @certificate.dimensions1 %>
  </p>

  <p>
    <strong>Dimensions2:</strong>
    <%= @certificate.dimensions2 %>
  </p>

  <p>
    <strong>Dimensions3:</strong>
    <%= @certificate.dimensions3 %>
  </p>

  <p>
    <strong>Dimension:</strong>
    <%= @certificate.dimension %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= @certificate.weight %>
  </p>

  <p>
    <strong>Weight desc:</strong>
    <%= @certificate.weight_desc %>
  </p>

  <p>
    <strong>Transparency:</strong>
    <%= @certificate.transparency %>
  </p>

  <p>
    <strong>Deep1:</strong>
    <%= @certificate.deep1 %>
  </p>

  <p>
    <strong>Color1:</strong>
    <%= @certificate.color1 %>
  </p>

  <p>
    <strong>Deep2:</strong>
    <%= @certificate.deep2 %>
  </p>

  <p>
    <strong>Color2:</strong>
    <%= @certificate.color2 %>
  </p>

  <p>
    <strong>Deep3:</strong>
    <%= @certificate.deep3 %>
  </p>

  <p>
    <strong>Color3:</strong>
    <%= @certificate.color3 %>
  </p>

  <p>
    <strong>Distribution:</strong>
    <%= @certificate.distribution %>
  </p>

  <p>
    <strong>Polariscope:</strong>
    <%= @certificate.polariscope %>
  </p>

  <p>
    <strong>Refractive index:</strong>
    <%= @certificate.refractive_index %>
  </p>

  <p>
    <strong>Is measure:</strong>
    <%= @certificate.is_measure %>
  </p>

  <p>
    <strong>Ww1:</strong>
    <%= @certificate.ww1 %>
  </p>

  <p>
    <strong>Ww2:</strong>
    <%= @certificate.ww2 %>
  </p>

  <p>
    <strong>Ww3:</strong>
    <%= @certificate.ww3 %>
  </p>

  <p>
    <strong>Sg:</strong>
    <%= @certificate.sg %>
  </p>

  <p>
    <strong>Uv lw:</strong>
    <%= @certificate.uv_lw %>
  </p>

  <p>
    <strong>Uv sw:</strong>
    <%= @certificate.uv_sw %>
  </p>

  <p>
    <strong>Chelsea color filter:</strong>
    <%= @certificate.chelsea_color_filter %>
  </p>

  <p>
    <strong>Visible spectrum:</strong>
    <%= @certificate.visible_spectrum %>
  </p>

  <p>
    <strong>Magnification:</strong>
    <%= @certificate.magnification %>
  </p>

  <p>
    <strong>Surface feature:</strong>
    <%= @certificate.surface_feature %>
  </p>

  <p>
    <strong>Infrared spectrum:</strong>
    <%= @certificate.infrared_spectrum %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= @certificate.level %>
  </p>

  <p>
    <strong>Conclusion:</strong>
    <%= @certificate.conclusion %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= @certificate.comments %>
  </p>

  <p>
    <strong>Img url:</strong>
    <%= @certificate.img_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @certificate.user.ename %>
  </p>
</div>

<div class="actions">
  <%= link_to ' Edit', edit_certificate_path(@certificate), class: "btn btn-warning btn-sm fa fa-pencil" %>
  <%= link_to 'Back', certificates_path, class: "btn btn-link" %>
</div>
