<%# add navigation right links to this file %>

<% if session[:user_id] %>
	<ul class="nav navbar-nav">
		<li><a href="<%= user_path(session[:user_id]) %>" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= User.find(session[:user_id]).ename %>"><i class="fa fa-user"></i></a></li>
		<li><a href="<%= password_path %>" data-toggle="tooltip" data-placement="bottom" data-original-title="更改密码"><i class="fa fa-key"></i></a></li>
		<li><a href="<%= logout_path %>" data-toggle="tooltip" data-placement="bottom" data-original-title="退出系统" onCLick="return confirm('您真的想退出系统吗？')"><i class="fa fa-sign-out"></i></a></li>
	</ul>
<% else %>
	<a class="btn btn-success navbar-btn" href="<%= login_path %>">Login <i class="fa fa-sign-in"></i></a>
<% end %>

<script type="text/javascript">

	$('a[data-original-title]').hover(function(){
		$(this).tooltip('show');
	});

</script>