<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Jade" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Jade" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body style="background-color: #eee;">

    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main">
      <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </main>

    <div class="container">
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </body>
</html>
